/********************************************* ROOT-CSS *********************************************/

* {
  text-decoration: none !important;
  list-style: none !important;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
:root {
  --purple: #8755f2;
  --lesspurple: #8755f246;
  --dark: #0f0f0f;
  --lessdark: #0f0f0fa1;
  --grey: #1a1a1a;
}
.absolute {
  position: absolute;
  top: 500%;
}
::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth !important;
}
body {
  overflow: hidden !important;
}
.fw-lighta {
  font-family: calibri light !important;
  letter-spacing: 2px;
}
.specific {
  height: 100vh !important;
  overflow: hidden !important;
}
/********************************************* COLORS-CSS *********************************************/
.muted {
  color: #777d74 !important;
}
/*Black*/

.bg-blacks {
  background-color: var(--dark) !important;
}
.bg-blackless {
  background-color: var(--lessdark) !important;
}
.border-blacks {
  border: 1px solid var(--dark) !important;
}
.border-blackless {
  border: 1px solid var(--lessdark) !important;
}
.text-blacks {
  color: var(--dark) !important;
}
.text-blackless {
  color: var(--lessdark) !important;
}

/*Purple*/

.bg-purple {
  background-color: var(--purple) !important;
}
.bg-purpleless {
  background-color: var(--lesspurple) !important;
}
.border-purple {
  border: 1px solid var(--purple) !important;
}
.border-purpleless {
  border: 1px solid var(--lesspurple) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-purpleless {
  color: var(--lesspurple) !important;
}

/********************************************* BODY-CSS *********************************************/

body {
  background-color: var(--grey) !important;
}

/********************************************* NAVBAR-CSS *********************************************/

.mynavbar {
  transition: 1s ease;
}
.mynavbarimg {
  width: 2.7rem !important;
  height: 100% !important;
}
.mynavbar i {
  transition: 0.2s ease;
}
.setwi {
  width: 2vw;
}
/********************************************* SIDEBAR-CSS *********************************************/

.sidebar {
  height: 93.3vh;
  overflow-y: scroll;
}
.sidebardiv {
  width: 150% !important;
  overflow-x: hidden !important;
  transition: 1s ease;
  max-width: 100vw !important;

  z-index: 100 !important;
}
.sidebardiv2 {
  width: 60px !important;
  overflow-x: hidden !important;
  max-width: 100vw !important;

  z-index: 100 !important;
  transition: 1s ease;
}
.sidebar ul {
  width: 300px !important;
  max-width: 100vw !important;
}
.sidebar i,
.sidebar .hoveri span {
  transition: 0.5s ease;
}
.sidebar .hoveri:hover span {
  color: var(--purple) !important;
}
.sidebar .hoveri:hover i {
  color: var(--purple) !important;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    height: 0 !important;
    overflow-y: scroll;
    position: fixed !important;
    margin-top: 73px !important;
    z-index: 1000;
    width: 0 !important;
  }
  .mynavbarimg {
    width: 2.3rem !important;
    height: 100% !important;
  }
  .sidebardiv {
    width: 100% !important;
    overflow-x: hidden !important;
    transition: 1s ease;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
  }
  .sidebardiv2 {
    width: 60px !important;
    overflow-x: hidden !important;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
    transition: 1s ease;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    height: 0 !important;
    overflow-y: scroll;
    position: fixed !important;
    margin-top: 118px !important;
    z-index: 1000;
    width: 0 !important;
  }
  .sidebardiv {
    width: 100% !important;
    overflow-x: hidden !important;
    transition: 1s ease;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
  }
  .sidebardiv2 {
    width: 0px !important;
    overflow-x: hidden !important;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
    transition: 1s ease;
  }
}
/********************************************* MAIN-CONTENT-CSS *********************************************/
.mainsec {
  height: 90vh !important;
  overflow: scroll !important;
}

@media screen and (max-width: 1100px) {
  .mainsec {
    overflow: scroll !important;
    height: 88vh !important;
    padding-left: 63px !important;
  }
}
@media screen and (max-width: 600px) {
  .mainsec {
    overflow: scroll !important;
    height: 88vh !important;
    padding-left: 0 !important;
  }
}
/********************************************* POST-CONTENT-CSS *********************************************/

.fontcahnge {
  font-size: 0.8rem;
}
.imgwidth {
  overflow: hidden !important;
}
.imgwidth img {
  width: 100% !important;
  height: 100% !important;
}
@media screen and (max-width:600px) {
  .imgwidth {
    overflow: hidden !important;
  }
  .imgwidth img {
    width: 100% !important;
    height: 100% !important;
  }
}