/********************************************* ROOT-CSS *********************************************/

* {
  text-decoration: none !important;
  list-style: none !important;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
:root {
  --purple: #0a66c2;
  --lesspurple: rgba(10, 102, 194, 0.202);
  --dark: #0f0f0f;
  --lessdark: #0f0f0fe1;
  --grey: #1a1a1a;
}
[data-theme="purple"] {
  --purple: #8755f2;
  --lesspurple: #8755f246;
  --dark: #0f0f0f;
  --lessdark: #0f0f0fe1;
  --grey: #1a1a1a;
}
[data-theme="blue"] {
  --purple: #0a66c2;
  --lesspurple: rgba(10, 102, 194, 0.202);
  --dark: #0f0f0f;
  --lessdark: #0f0f0fe1;
  --grey: #1a1a1a;
}
[data-theme="green"] {
  --purple: #00b75a;
  --lesspurple: #00b75c47;
  --dark: #0f0f0f;
  --lessdark: #0f0f0fe1;
  --grey: #1a1a1a;
}
[data-theme="red"] {
  --purple: #b22222;
  --lesspurple: #b2222235;
  --dark: #0f0f0f;
  --lessdark: #0f0f0fe1;
  --grey: #1a1a1a;
}

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth !important;
}
body {
  overflow: hidden !important;
}
.fw-lighta {
  font-family: calibri light !important;
  letter-spacing: 1px;
}
.specific {
  height: 100vh !important;
  overflow: hidden !important;
}
.pointer {
  cursor: pointer !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.fw-lighta,
.small,
span {
  user-select: none;
}
i {
  cursor: pointer !important;
}
/********************************************* COLORS-CSS *********************************************/
.muted {
  color: #74747d !important;
}
/*Black*/

.bg-blacks {
  background-color: var(--dark) !important;
}
.bg-blackless {
  background-color: var(--lessdark) !important;
}
.border-blacks {
  border: 1px solid var(--dark) !important;
}
.border-blackless {
  border: 1px solid var(--lessdark) !important;
}
.text-blacks {
  color: var(--dark) !important;
}
.text-blackless {
  color: var(--lessdark) !important;
}

/*Purple*/

.bg-purple {
  background-color: var(--purple) !important;
}
.bg-purpleless {
  background-color: var(--lesspurple) !important;
}
.border-purple {
  border: 1px solid var(--purple) !important;
}
.border-purpleless {
  border: 1px solid var(--lesspurple) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-purpleless {
  color: var(--lesspurple) !important;
}

/********************************************* BODY-CSS *********************************************/

body {
  background-color: var(--grey) !important;
}

/********************************************* NAVBAR-CSS *********************************************/

.mynavbar {
  transition: 1s ease;
}
.mynavbarimg {
  width: 2.7rem !important;
  height: 100% !important;
}
.mynavbar i {
  transition: 0.2s ease;
}
.setwi {
  width: 10vw !important;
}
/********************************************* SIDEBAR-CSS *********************************************/

.sidebar {
  height: 93.3vh;
  overflow-y: scroll;
}
.sidebardiv {
  width: 150% !important;
  overflow-x: hidden !important;
  transition: 0.5s ease;
  max-width: 100vw !important;

  z-index: 100 !important;
}
.sidebardiv2 {
  width: 60px !important;
  overflow-x: hidden !important;
  max-width: 100vw !important;

  z-index: 100 !important;
  transition: 0.5s ease;
}
.sidebar ul {
  width: 300px !important;
  max-width: 100vw !important;
}
.sidebar i,
.sidebar .hoveri span {
  transition: 0.5s ease;
}
.sidebar .hoveri:hover span {
  color: var(--purple) !important;
}
.sidebar .hoveri:hover i {
  color: var(--purple) !important;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    height: 0 !important;
    overflow-y: scroll;
    position: fixed !important;
    margin-top: 73px !important;
    z-index: 1000;
    width: 0 !important;
  }
  .mynavbarimg {
    width: 2.3rem !important;
    height: 100% !important;
  }
  .sidebardiv {
    width: 100% !important;
    overflow-x: hidden !important;
    transition: 0.5s ease;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
  }
  .sidebardiv2 {
    width: 0px !important;
    overflow-x: hidden !important;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
    transition: 0.5s ease;
  }
  .sidebar ul {
    width: 2000px !important;
    max-width: 100vw !important;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    height: 0 !important;
    overflow-y: scroll;
    position: fixed !important;
    margin-top: 128px !important;
    z-index: 1000;
    width: 0 !important;
  }
  .sidebardiv {
    width: 100% !important;
    overflow-x: hidden !important;
    transition: 0.5s ease;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
  }
  .sidebardiv2 {
    width: 0px !important;
    overflow-x: hidden !important;
    max-width: 100vw !important;
    position: fixed !important;
    z-index: 100 !important;
    transition: 0.5s ease;
  }
}
/********************************************* MAIN-CONTENT-CSS *********************************************/
.mainsec {
  height: 90vh !important;
  overflow: scroll !important;
}
.mainsec2 {
  height: 90vh !important;
  overflow: scroll !important;
}

@media screen and (max-width: 1100px) {
  .mainsec {
    overflow: scroll !important;
    height: 88vh !important;
  }
  .mainsec2 {
    overflow: scroll !important;
    height: 88vh !important;
  }
}
@media screen and (max-width: 600px) {
  .mainsec {
    overflow: scroll !important;
    height: 83vh !important;
  }
  .mainsec2 {
    overflow: scroll !important;
    height: 88vh !important;
  }
}
/********************************************* POST-CONTENT-CSS *********************************************/

.fontcahnge {
  font-size: 0.8rem;
}
.imgwidth {
  height: auto !important;
  overflow: hidden !important;
  max-height: 50vh !important;
}
.imgwidth img {
  width: 100% !important;
  height: auto !important;
}
.rotate {
  transform: rotateZ(180deg) rotateY(180deg) translateY(2px);
  cursor: pointer;
}
.rotate * {
  padding: 0 !important;
  margin: 0 !important;
}
.sad {
  transform: translateY(2px) !important;
}
.setcardfooter {
  height: 30vh;
  overflow: scroll;
}
.setfindfriends {
  max-height: 30vh;
  overflow: scroll;
  height: min-content;
}
.setfindfriends2 {
  height: 33vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  transition: all 0.5s ease;
}
.setfindfriends2 .card {
  scroll-snap-align: start;
  height: 100%;
  max-height: 100%;
}

.myfriends {
  height: 90.9vh !important;
  overflow-y: scroll;
}
.myfreindsdiv {
  width: 100% !important;
  overflow-x: hidden !important;
  z-index: 100 !important;
  transition: 1s ease;
}
.myfriendsscrol {
  height: 72vh !important;
  overflow-y: scroll !important;
}
.ds {
  width: 350px !important;
  max-width: 100vw;
}
.cover {
  width: 100% !important;
  height: 50vh;
}

.teans img {
  margin-top: -11vh;
  transform: translateX(2vw);
  border: var(--dark) 5px solid;
  width: 200px !important;
}
.over {
  height: 25vh !important;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .imgwidth {
    height: 15rem;
    overflow: hidden !important;
  }
  .imgwidth img {
    width: 100% !important;
    height: 100% !important;
  }

  .setcardfooter {
    height: 30vh;
    overflow: scroll;
  }
  .teans img {
    margin-top: -15vh;
    transform: translateX(3vw);
    border: var(--dark) 5px solid;
    width: 40vw !important;
  }
}
.rotate {
  transform: rotateZ(180deg) rotateY(180deg) translateY(2px);
  cursor: pointer;
}
.rotate * {
  padding: 0 !important;
  margin: 0 !important;
}
.sad {
  transform: translateY(2px) !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  background-color: transparent !important;
}
.fa-link {
  color: #0a66c268 !important;
  transition: 0.3s ease;
}
.d-flex:hover .fa-link {
  color: var(--purple) !important;
}
.img-fluid{
  cursor: pointer;
}